html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    text-align: center;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
}

#main {
    text-align: center;
    margin: auto;
}

.inputNumber {
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: 25px;
    height: 50px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 100px;
    max-width: 360px;
    width: 40%;
}

.display {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

table.display {
    & th {
        font-weight: normal !important;
    }

    & td:nth-child(1) {
        text-align: right;
    }
}

.displaySmall {
    font-size: 14px;
}

.button1 {
    border: 10px none;
    background: cornflowerblue;
    color: white;
    font-family: tahoma;
    font-size: 15px;
    height: 50px;
    text-align: center;
    width: 150px;
}